body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* halaman 1 */

.halaman-1 {
    background-image: url("assets/main-bg.jpg");
    background-size:100%;
    background-position: center;
    height:140vh;
    background-repeat: no-repeat;
    
}

.navbar {
    color: aliceblue;
    background-color: rgba(17, 17, 17, 0.3);
    height:70px;
    
}

.kiri {
    font-size: 30px;
    margin-left: 100px;
    border: 2px;
    margin-bottom: 25px;
}

.tengah {
    border: 1px rgb(250, 249, 249);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 40%;
    margin-bottom: 20px;
    margin-left: -150px;
}

.kanan {
    border: 1px rgb(250, 249, 249);
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    width: 20%;
    margin-bottom: 20px;
    margin-right: 80px;
}

.tittle {
    color: aliceblue;
    font-size: 50px;
    font-weight:500;
    border: 1px rgb(250, 249, 249);
    text-align: center;
    margin-top: 15%;
}

.subtittle {
    color: aliceblue;
    font-size: 20px;
    font-weight:normal;
    border: 1px rgb(250, 249, 249);
    text-align: center;
    margin-top: 50px;
}

.halaman-1 > div > button {
    border: 1px rgb(250, 249, 249);
    background-color: rgb(255, 217, 0);
    background-size:cover;
    width: 150px;
    padding: 5px;
    border-radius:.5em;
    margin-top: 5%;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lower > p {
    margin-top: -0.5%;
    font-size: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
i.bi-caret-down {
    font-size: 20px;
    margin-top: 30%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Halaman 2 */

.halaman-2 {
    background-image: url("assets/the-games-bg.jpg");
    background-size: 100%;
    background-position: center;
    height:110vh;
    background-repeat: no-repeat;
    display:flex;
    
}
.text2 {
    border: 1px rgb(250, 249, 249);
    font-size: 15px;
    width: 250px;
    height: 80vh;
    margin-left: 15%;
    padding-top: 10%;
    
}

div > div > h2 {
    letter-spacing:4px;
}

.slidegambar {
    border: 1px rgb(250, 249, 249);
    width: 50%;
    height: 30%;
    margin-top: 13%;
   
}

.carousel-control-prev {
    margin-left: -5em;
}
.carousel-control-next {
    margin-right: -5em;
}

.carousel-indicators button {
    height: 1em !important;
    width: 1em !important;
    margin: 0 1em !important;
    border-radius: 100%;
    background-color:rgb(248, 248, 248, 0.3) !important;
    border: 1px solid white !important;
}
.carousel-control-prev-icon {
    background-image: url(assets/switch-left.svg)
}

.carousel-control-next-icon {
    background-image: url(assets/switch-right.svg)
}

/* Halaman 3 */

.halaman-3 {
    background-image: url("assets/features.jpg");
    background-size:100%;
    background-position: center;
    height:130vh;
    background-repeat: no-repeat;
    
}

.text3 {
    border: 1px rgb(250, 249, 249);
    font-size: 15px;
    width: 500px;
    margin-left: 55%;
    margin-bottom: 2%;
    padding-top: 15%;
}

.text3a {
    border: 1px rgb(250, 249, 249);
    font-size: 15px;
    width: 500px;
    margin-left: 55%;
    margin-bottom: 100px;
    padding-top: 0px;
    color:darkorange;
    letter-spacing: 4px;
    line-height: 2;

}

.text3a ul {
    list-style:none;
}    
.text3a ul li::before {
    content: "\25CB"; 
    color: #ffffff; 
    display: inline-block;
    width: 1.5em; 
    margin-left: -1.3em; 
    font-size:x-large;
    
}

.bulatatas {
    background-color: white;
    position:absolute;
    display:flex;
    width: 0.75em;
    height: .75em;
    border-radius: 100%;
    margin-top: 1.4em;
    margin-left: -1.95em; 
}

.garis {
    content: " ";
    background-color: white;
    height: 9.5em;
    width: 1px;
    position:absolute;
    margin-top: 1.85em;
    margin-left: -1.62em; 
}

.text3a-1 {
    color: aliceblue;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 0px;
    margin-left: .3em;

}

/* halaman-4*/

.halaman-4 {
    background-image: url("assets/requirements.png");
    background-size: cover;
    background-position: center;
    height: 130vh;
    background-repeat: no-repeat;
    
}

.header1 {
    font-size: 2.5em;
    border: 1px rgb(245, 242, 242);
    letter-spacing: .2em;
    margin-left: 15%;
    margin-bottom: 2em;
}

.header2 {
    font-size: .5em;
    border: 1px rgb(243, 237, 237);
    letter-spacing: .2em;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 5em;
}

.table1 {
    display: flex;
    color: white;
    margin-left: 15%;
    width: 100em;
    height: 5em;
    
}

.table2 {
    display: flex;
    color: white;
    margin-left: 15%;
    width: 100em;
    height: 6em;
}

.table3 {
    display: flex;
    color: white;
    margin-left: 15%;
    width: 200em;
    height: 6em;
}

.head {
    color: darkorange;
}

.isi {
    font-size: .8em;
}

.cell {
    width: 15%;
    border: 1px solid rgb(243, 237, 237);
    padding-left: .5em;
    padding-top: .5em;
}

/* halaman-5*/

.halaman-5 {
    background-image: url("assets/top-score-bg.png");
    background-size: cover;
    background-position: center;
    height:130vh;
    background-repeat: no-repeat;
    display:flex;
    
}

.left {
    border: aliceblue;
    width: 40em;
    margin-top: 20em; 
    padding-left: 10em;  
}

.left > h2 {
    margin-bottom: .5em;
}

.left > p {
    font-size: smaller;
    margin-bottom: 2em;
}

.button1 {
    background-color: rgb(255, 217, 0);
    background-size:cover;
    width: 150px;
    padding: 5px;
    border-radius:.5em;
}

.right {
    margin-top: 10em;
}
.atas {
    display:flex;
    flex-wrap: wrap;
}

.bawah {
    margin-top: 1em;
}
.scorer1 {
    border: 0;
    border-radius: .5em;
    margin-left: 15em;
    margin-bottom: 2em;
    width: 22em;
    padding: .5em;
    background-color:rgba(53, 48, 48, 0.5);
   
    
}
.scorer2 {
    border: 0;
    border-radius: .5em;
    width: 22em;
    margin-bottom: 2em;
    padding: .5em;
    background-color:rgba(53, 48, 48, 0.5);
}

.scorer3 {
    border: 0;
    border-radius: .5em;
    width: 22em;
    margin-left: 10em;
    padding: .5em;
    background-color:rgba(53, 48, 48, 0.5);
}

.nama {
    color: darkorange;
}

.job {
    font-size: smaller;
}

.caption {
    font-size: smaller;
}

.tanggal {
    font-size: smaller;
    color: dimgray;
}

.job {
    color: dimgray;
}

.identitas {
    border: 0;
    padding-left: 1em;
    
}

.logotwitter1 {
    width: 1em;
    height: 1em;
    margin-left: 11em;  
}

.logotwitter2 {
    width: 1em;
    height: 1em;
    margin-left: 10.5em;  
}

.logotwitter3 {
    width: 1em;
    height: 1em;
    margin-left: 9em;  
}

.foto {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: relative;
    z-index:1;
    
}

.fotoshadow {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    margin-left: .3em;
    margin-top: .3em;
}

/* halaman-6 */

.halaman-6 {
    background-image: url("assets/newsletter.png");
    background-size: cover;
    background-position: center;
    height:130vh;
    background-repeat: no-repeat;
     
}

.topside {
    display: flex;
    padding-top: 7.5%;
    
}

.halaman6kiri {
    margin-left: 25%;
    width: 25em;
    height: 30em;
}

.halaman6kiri {
    border: 1px ;
    border-radius: 20em;
    background-image: url(assets/skull.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
}

.halaman6kanan {
    margin-left: 3em;
    
}
.halaman6kanan .teks1 {
    margin-top: 2em;
    font-size: smaller;
}

.halaman6kanan .teks2 {
    margin-top: .5em;
    font-size: 2em;
    line-height: 1.3;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

.halaman6kanan .teks3 {
    font-size: .8em;
    line-height: 1.3;
    margin-bottom: 3em;
}

.form-floating .form-control {
    width: 20em;
    background-color:rgba(53, 48, 48, 0.5);
    color:darkorange;
    border: none;
}

.topbawah {
    display: flex;
    margin-left: 44em;
    margin-top: -10em;
}

.button2 {
    margin-left: .5em;
    background-color: rgb(255, 217, 0);
    background-size:cover;
    width: 10em;
    height: 4.2em;
    padding: 5px;
    border-radius:.5em;
    border: none;
    font-size: smaller;
}

.bottomside1 {
    display: flex;
    margin-top: 10em;
    margin-left: 35%;
}

.bottomside1 .teks{
    display: flex;
    font-size: x-small;
    align-items: center;
    justify-content:space-evenly;
    width: 55%;
}

.bottomside1 .simbol {
    display: flex;
    margin-left: 1em;
    
}

.simbol1 {
    background-image: url(assets/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.simbol2 {
    background-image: url(assets/twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.simbol3 {
    background-image: url(assets/vector.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.simbol4 {
    background-image: url(assets/twitch.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.simbol1, .simbol2, .simbol3, .simbol4 {
    display: flex;
    border: 1px ;
    margin-left: 1em;
    width: 2em;
    height: 2em;
}
.garisbawah {
    width: 60em;
    margin-left: 15%;
}
.kaki {
    display:flex;
    margin-left: 15%;
}
.kakikiri p {
    font-size: x-small;
    color:dimgrey;
}
.kakikanan {
    display: flex;
    margin-left: 40.5%;
    font-size: x-small;
}

.kakikanan p {
    width: 10em;
    text-align-last: center;
}
.kotak1 , .kotak2 {
    border-right: 1px solid;
}
